#### melt / pivot - разложение и свод таблицы по observations

In [1]:
import pandas as pd
?pd.melt #"Unpivots" a DataFrame from wide format to long format, optionally leaving identifier variables set.

airquality_melt = pd.melt(airquality, id_vars=['Month', 'Day'])
airquality_melt = pd.melt(airquality, id_vars=['Month', 'Day'], var_name='measurement', value_name='reading')

In [ ]:
.pivot_table() #сводит таблицу в человекочитаемый вид

wetaher_tidy = weather.pivot_table(index="date", columns="element", values="value", agg_func=np.mean)
#необходимо указать, что делать с дублированными данными

In [ ]:
# Pivot airquality_dup: airquality_pivot
airquality_pivot = airquality_dup.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading', aggfunc=np.mean)

# Reset the index of airquality_pivot
airquality_pivot = airquality_pivot.reset_index()

In [ ]:
df['sex'] = df['variable'].str[0] #выведение пола в отдельный столбец из формата "m018" в "m"

In [ ]:
# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola_melt['type'] = ebola_melt.str_split.str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt.str_split.str.get(1)

#### Concatenate

In [ ]:
concatenated = pd.concat([df1, df2], ignore_index=True) #одна таблизца за другой, с резетом индексов

In [ ]:
concatenated = pd.concat([df1, df2], axis=1) #column wise. Составить табливы вместе по горизонтали

#### globbing - подбор файлов по шаблону имени

In [5]:
import glob
csv_files = glob.glob('./data/*.csv') #использовать ? *
print(csv_files)

['./data\\airquality.csv', './data\\dob_job_application_filings_subset.csv', './data\\ebola.csv', './data\\gapminder.csv', './data\\nyc_uber_2014.csv', './data\\tb.csv', './data\\tips.csv']

In [ ]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

#### Merging

In [ ]:
pd.merge(left=fd1, right=df2, on=None, left_on='col1', right_on='col2')

#### кастинг типов

In [ ]:
df['col1'] = df['col1'].astype(str)

In [ ]:
df['col1'] = pd.to_numeric(df['col1'], errors='coerce') #missing->NaN

In [ ]:
tips.smoker = tips.smoker.astype('category') #перевод в категории

#### RE pattern matching

In [2]:
import re
pattern = re.compile('\$\d*\.\d{2}')
result = pattern.match('$17.89')
bool(result)

True

In [3]:
# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result = prog.match('1123-456-7890')
print(bool(result))

True
False

In [4]:
# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

In [5]:
# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='[A-Z]\w*', string='Australia'))
print(pattern3)

True
True
True

#### применение функциий к ячейкам

In [ ]:
df.apply(np.mean, axis=0) # axis=0 - columns, axis=1 - rows

In [26]:
import pandas as pd
df = pd.read_csv('./data/dob_job_application_filings_subset.csv')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Нужно вывести разницу между двумя последними столбцами

In [27]:
df1 = df.loc[: , ['Job #', 'Doc #', 'Borough', 'Initial Cost', 'Total Est. Fee']]
df1.head()

       Job #  Doc #        Borough Initial Cost Total Est. Fee
0  121577873      2      MANHATTAN    $75000.00        $986.00
1  520129502      1  STATEN ISLAND        $0.00       $1144.00
2  121601560      1      MANHATTAN    $30000.00        $522.50
3  121601203      1      MANHATTAN     $1500.00        $225.00
4  121601338      1      MANHATTAN    $19500.00        $389.50

In [23]:
import re
from numpy import NaN
pattern = re.compile('^\$\d*\.\d{2}$')

In [24]:
def diff_money(row, pattern):
    icost = row['Initial Cost']
    tef = row['Total Est. Fee']
    if bool(pattern.match(icost)) and bool(pattern.match(tef)):
        icost = icost.replace("$", "")
        tef = tef.replace("$", "")
        icost = float(icost)
        tef = float(tef)
        return icost-tef
    else:
        return (NaN)

In [28]:
df1['diff'] = df1.apply(diff_money, axis=1, pattern=pattern)
df1.head()

       Job #  Doc #        Borough Initial Cost Total Est. Fee     diff
0  121577873      2      MANHATTAN    $75000.00        $986.00  74014.0
1  520129502      1  STATEN ISLAND        $0.00       $1144.00  -1144.0
2  121601560      1      MANHATTAN    $30000.00        $522.50  29477.5
3  121601203      1      MANHATTAN     $1500.00        $225.00   1275.0
4  121601338      1      MANHATTAN    $19500.00        $389.50  19110.5

In [ ]:
другой пример - рекодинг пола

In [ ]:
# Define recode_sex()
def recode_sex(sex_value):

    # Return 1 if sex_value is 'Male'
    if sex_value == 'Male':
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex_value == 'Female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

# Print the first five rows of tips
print(tips.head())

Lambda

In [ ]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips.head())

#### Duplicates and missing data

In [ ]:
df = df.drop_duplicates()

Missing

In [ ]:
df = df.dropna() # drop missing data

In [ ]:
#fill missing
tips_nan['sex'] = tips_nan['sex'].fillna('missing')
tips_nan[['totoal', 'size']] = tips_nan[['totoal', 'size']].fillna(0)

In [ ]:
#fill with mean
mean_value = tips_nan['tip'].mean()
tips_nan['tip'] = tips_nan['tip'].fillna(mena_value)

In [ ]:
# Create the new DataFrame: tracks
tracks = billboard[['year', 'artist', 'track', 'time']] # важно! новый датасет по столцам

# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

Testing with asserts

In [ ]:
assert google.Clos.notnull().all()

In [ ]:
# Assert that there are no missing values
assert pd.notnull(ebola).all().all()

# Assert that all values are >= 0
assert (ebola >= 0).all().all()