In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('./data/titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

Lesson 2

In [6]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [28]:
df = data[["Pclass", "Fare", "Age", "Sex", "Survived"]]

In [29]:
df = df.dropna()

In [30]:
y = df.Survived

In [35]:
df = df.drop(["Survived"], axis=1)

In [36]:
df = pd.get_dummies(df, columns=["Sex"])

In [37]:
df = df.drop(["Sex_female"], axis=1)

In [38]:
X = df

In [48]:
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [49]:
importances = clf.feature_importances_
importances

array([ 0.1430104 ,  0.30312328,  0.25335411,  0.30051221])

In [50]:
df.head()

             Pclass     Fare   Age  Sex_male
PassengerId
1                 3   7.2500  22.0         1
2                 1  71.2833  38.0         0
3                 3   7.9250  26.0         0
4                 1  53.1000  35.0         0
5                 3   8.0500  35.0         1

Lesson 1

In [14]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [15]:
data["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [16]:
342/(549+342)*100

38.38383838383838

In [19]:
cl = data["Pclass"].value_counts()

In [22]:
cl

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [23]:
216/sum(cl)*100

24.242424242424242

In [26]:
data.Age.mean()

29.69911764705882

In [27]:
data.Age.median()

28.0

In [30]:
data[["SibSp", "Parch"]].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [31]:
women = data[data.Sex == "female"]

In [37]:
women_names = list(women.Name)

In [46]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from collections import Counter
from nltk.corpus import stopwords

In [45]:
women_names

['Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'McGowan, Miss. Anna "Annie"',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 "O'Driscoll, Miss. Bridget",
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Rugg, Miss. Emily',
 'West, Miss. Constance Mirium',
 'Icard, Miss. Amelie',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Andersson, Miss. Erna Alexandra',
 'Goodwin, Miss. Lillian Amy',
 'Dowdell, Miss. Elizabeth',
 'McDermott, Miss. Brigdet Delia',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Fortune, Miss. Mabel Helen',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Petranec, Miss. Matilda',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moran, Miss. Bertha',
 'Zabour, Miss. Hileni',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Andersson, Miss. Ellis Anna Maria',
 'Webber, Miss. Susan',
 'Peter, Miss. Anna',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Newsom, Miss. Helen Monypeny',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Gilnagh, Miss. Katherine "Katie"',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Johnson, Miss. Eleanor Ileen',
 'Isham, Miss. Ann Elizabeth',
 'Sage, Miss. Constance Gladys',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Pinsky, Mrs. (Rosa)',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Strom, Miss. Telma Matilda',
 'Carr, Miss. Helen "Ellen"',
 'Cameron, Miss. Clear Annie',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Bazzani, Miss. Albina',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Asplund, Miss. Lillian Gertrud',
 'Harknett, Miss. Alice Phoebe',
 'Collyer, Miss. Marjorie "Lottie"',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Henry, Miss. Delia',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Haas, Miss. Aloisia',
 'Allison, Miss. Helen Loraine',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'Keane, Miss. Nora A',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Young, Miss. Marie Grice',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Burns, Miss. Elizabeth Margaret',
 'Fortune, Miss. Alice Elizabeth',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Barbara, Mrs. (Catherine David)',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Buss, Miss. Kate',
 'Lehmann, Miss. Bertha',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Olsson, Miss. Elina',
 'Trout, Mrs. William H (Jessie L)',
 'Jussila, Miss. Mari Aina',
 'Oreskovic, Miss. Marija',
 'Lefebre, Miss. Ida',
 'Minahan, Miss. Daisy E',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Van Impe, Miss. Catharina',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Reynaldo, Ms. Encarnacion',
 'Mellinger, Miss. Madeleine Violet',
 'Baclini, Miss. Marie Catherine',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 'Baclini, Miss. Helene Barbara',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Hirvonen, Miss. Hildur E',
 'Turkula, Mrs. (Hedwig)',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Eustis, Miss. Elizabeth Mussey',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Lemore, Mrs. (Amelia Milley)',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Perreault, Miss. Anne',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Ridsdale, Miss. Lucy',
 'Quick, Miss. Phyllis May',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'LeRoy, Miss. Bertha',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Ohman, Miss. Velin',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Meanwell, Miss. (Marion Ogden)',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Kelly, Miss. Mary',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Taussig, Miss. Ruth',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Bourke, Miss. Mary',
 'Leitch, Miss. Jessie Wills',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Murphy, Miss. Margaret Jane',
 'Herman, Miss. Alice',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Longley, Miss. Gretchen Fiske',
 'Skoog, Miss. Mabel',
 'Davis, Miss. Mary',
 'Panula, Mrs. Juha (Maria Emilia Ojala)',
 'Sagesser, Mlle. Emma',
 'Skoog, Miss. Margit Elizabeth',
 'Baclini, Miss. Eugenie',
 'Stanley, Miss. Amy Zillah Elsie',
 'Doling, Miss. Elsie',
 'O\'Leary, Miss. Hanora "Norah"',
 'Hegarty, Miss. Hanora "Nora"',
 'Bourke, Mrs. John (Catherine)',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 'Turja, Miss. Anna Sofia',
 'Goodwin, Mrs. Frederick (Augusta Tyler)',
 'Peters, Miss. Katie',
 'Madill, Miss. Georgette Alexandra',
 'Karun, Miss. Manca',
 'Mullens, Miss. Katherine "Katie"',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Barbara, Miss. Saiide',
 'Kelly, Mrs. Florence "Fannie"',
 'Cleaver, Miss. Alice',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Endres, Miss. Caroline Louise',
 'Troutt, Miss. Edwina Celia "Winnie"',
 'Harper, Miss. Annie Jessie "Nina"',
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)',
 'Mannion, Miss. Margareth',
 'Ilmakangas, Miss. Pieta Sofia',
 'Allen, Miss. Elisabeth Walton',
 'Ford, Mrs. Edward (Margaret Ann Watson)',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Sinkkonen, Miss. Anna',
 'Wells, Miss. Joan',
 'Herman, Mrs. Samuel (Jane Laver)',
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Hogeboom, Mrs. John C (Anna Andrews)',
 'Mangan, Miss. Mary',
 'Mack, Mrs. (Mary)',
 'Hocking, Mrs. Elizabeth (Eliza Needs)',
 'Emanuel, Miss. Virginia Ethel',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Ayoub, Miss. Banoura',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Sjoblom, Miss. Anna Sofia',
 'Sage, Miss. Stella Anna',
 'Leader, Dr. Alice (Farnham)',
 'Osman, Mrs. Mara',
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)',
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)',
 'Pettersson, Miss. Ellen Natalia',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Andersson, Miss. Ebba Iris Alfrida',
 'Heininen, Miss. Wendla Maria',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Moor, Mrs. (Beila)',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Yasbeck, Mrs. Antoni (Selini Alexander)',
 'Compton, Miss. Sara Rebecca',
 'Serepeca, Miss. Augusta',
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Boulos, Miss. Nourelain',
 'Lines, Miss. Mary Conover',
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Baclini, Mrs. Solomon (Latifa Qurban)',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Sage, Miss. Dorothy Edith "Dolly"',
 'Bystrom, Mrs. (Karolina)',
 'Duran y More, Miss. Asuncion',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Najib, Miss. Adele Kiamie "Jane"',
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
 'Shelley, Mrs. William (Imanita Parrish Hall)',
 'Dahlberg, Miss. Gerda Ulrika',
 'Rice, Mrs. William (Margaret Norton)',
 'Graham, Miss. Margaret Edith',
 'Johnston, Miss. Catherine Helen "Carrie"']

In [42]:
text = ""

for i in women_names:
    text += i
    text += " "

text

'Cumings, Mrs. John Bradley (Florence Briggs Thayer) Heikkinen, Miss. Laina Futrelle, Mrs. Jacques Heath (Lily May Peel) Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg) Nasser, Mrs. Nicholas (Adele Achem) Sandstrom, Miss. Marguerite Rut Bonnell, Miss. Elizabeth Vestrom, Miss. Hulda Amanda Adolfina Hewlett, Mrs. (Mary D Kingcome)  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele) Masselmani, Mrs. Fatima McGowan, Miss. Anna "Annie" Palsson, Miss. Torborg Danira Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) O\'Dwyer, Miss. Ellen "Nellie" Spencer, Mrs. William Augustus (Marie Eugenie) Glynn, Miss. Mary Agatha Vander Planke, Miss. Augusta Maria Nicola-Yarred, Miss. Jamila Ahlin, Mrs. Johan (Johanna Persdotter Larsson) Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott) Laroche, Miss. Simonne Marie Anne Andree Devaney, Miss. Margaret Delia O\'Driscoll, Miss. Bridget Arnold-Franchi, Mrs. Josef (Josefine Franchi) Harper, Mrs. Henry Sleeper (Myna Haxtun) Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson) Rugg, Miss. Emily West, Miss. Constance Mirium Icard, Miss. Amelie Nye, Mrs. (Elizabeth Ramell) Andersson, Miss. Erna Alexandra Goodwin, Miss. Lillian Amy Dowdell, Miss. Elizabeth McDermott, Miss. Brigdet Delia Ilett, Miss. Bertha Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson) Fortune, Miss. Mabel Helen Doling, Mrs. John T (Ada Julia Bone) Petranec, Miss. Matilda Salkjelsvik, Miss. Anna Kristine Moran, Miss. Bertha Zabour, Miss. Hileni Jussila, Miss. Katriina Attalah, Miss. Malake Andersson, Miss. Ellis Anna Maria Webber, Miss. Susan Peter, Miss. Anna Robins, Mrs. Alexander A (Grace Charity Laury) Weisz, Mrs. Leopold (Mathilde Francoise Pede) Newsom, Miss. Helen Monypeny Boulos, Mrs. Joseph (Sultana) Nysten, Miss. Anna Sofia Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck) Ford, Miss. Robina Maggie "Ruby" Pears, Mrs. Thomas (Edith Wearne) Gilnagh, Miss. Katherine "Katie" Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne) Chibnall, Mrs. (Edith Martha Bowerman) Skoog, Mrs. William (Anna Bernhardina Karlsson) Johnson, Miss. Eleanor Ileen Isham, Miss. Ann Elizabeth Sage, Miss. Constance Gladys Kink-Heilmann, Miss. Luise Gretchen O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey) Pinsky, Mrs. (Rosa) Andersen-Jensen, Miss. Carla Christine Nielsine Brown, Mrs. James Joseph (Margaret Tobin) Lurette, Miss. Elise Madigan, Miss. Margaret "Maggie" Yrois, Miss. Henriette ("Mrs Harbeck") Strom, Miss. Telma Matilda Carr, Miss. Helen "Ellen" Cameron, Miss. Clear Annie Newell, Miss. Madeleine Honkanen, Miss. Eliina Bazzani, Miss. Albina Lefebre, Miss. Mathilde Harris, Mrs. Henry Birkhardt (Irene Wallach) Asplund, Miss. Lillian Gertrud Harknett, Miss. Alice Phoebe Collyer, Miss. Marjorie "Lottie" Zabour, Miss. Thamine Murphy, Miss. Katherine "Kate" Lindahl, Miss. Agda Thorilda Viktoria Hamalainen, Mrs. William (Anna) Strom, Mrs. Wilhelm (Elna Matilda Persson) Rosblom, Mrs. Viktor (Helena Wilhelmina) Touma, Mrs. Darwis (Hanne Youssef Razi) Thorne, Mrs. Gertrude Maybelle Cherry, Miss. Gladys Ward, Miss. Anna Parrish, Mrs. (Lutie Davis) Henry, Miss. Delia Graham, Mrs. William Thompson (Edith Junkins) Bissette, Miss. Amelia Mellinger, Mrs. (Elizabeth Anne Maidment) Healy, Miss. Hanora "Nora" Andrews, Miss. Kornelia Theodosia Lindblom, Miss. Augusta Charlotta Abbott, Mrs. Stanton (Rosa Hunt) Connolly, Miss. Kate Barber, Miss. Ellen "Nellie" Bishop, Mrs. Dickinson H (Helen Walton) Haas, Miss. Aloisia Allison, Miss. Helen Loraine Baxter, Mrs. James (Helene DeLaudeniere Chaput) Kelly, Miss. Anna Katherine "Annie Kate" Keane, Miss. Nora A Fleming, Miss. Margaret Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) Francatelli, Miss. Laura Mabel Hays, Miss. Margaret Bechstein Ryerson, Miss. Emily Borie Lahtinen, Mrs. William (Anna Sylfven) Nilsson, Miss. Helmina Josefina Kantor, Mrs. Sinai (Miriam Sternin) Wick, Miss. Mary Natalie Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone) Slayter, Miss. Hilda Mary Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh) Young, Miss. Marie Grice Ball, Mrs. (Ada E Hall) Goldsmith, Mrs. Frank John (Emily Alice Brown) Hippach, Miss. Jean Gertrude McCoy, Miss. Agnes Frauenthal, Mrs. Henry William (Clara Heinsheimer) Burns, Miss. Elizabeth Margaret Fortune, Miss. Alice Elizabeth Brown, Miss. Amelia "Mildred" Smith, Miss. Marion Elsie Davison, Mrs. Thomas Henry (Mary E Finck) Bowerman, Miss. Elsie Edith Funk, Miss. Annie Clemmer McGovern, Miss. Mary Mockler, Miss. Helen Mary "Ellie" Barbara, Mrs. (Catherine David) Warren, Mrs. Frank Manley (Anna Sophia Atkinson) Moussa, Mrs. (Mantoura Boulos) Jermyn, Miss. Annie Aubart, Mme. Leontine Pauline Palsson, Miss. Stina Viola Meyer, Mrs. Edgar Joseph (Leila Saks) Landergren, Miss. Aurora Adelia Bidois, Miss. Rosalie Nakid, Miss. Maria ("Mary") Holverson, Mrs. Alexander Oskar (Mary Aline Towner) Buss, Miss. Kate Lehmann, Miss. Bertha Newell, Miss. Marjorie Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson) Olsson, Miss. Elina Trout, Mrs. William H (Jessie L) Jussila, Miss. Mari Aina Oreskovic, Miss. Marija Lefebre, Miss. Ida Minahan, Miss. Daisy E Meek, Mrs. Thomas (Annie Louise Rowley) Drew, Mrs. James Vivian (Lulu Thorne Christian) Silven, Miss. Lyyli Karoliina Van Impe, Miss. Catharina Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Clarke, Mrs. Charles V (Ada Maria Winfield) Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall") Thorneycroft, Mrs. Percival (Florence Kate White) Louch, Mrs. Charles Alexander (Alice Adelaide Slow) Carter, Miss. Lucile Polk Ford, Miss. Doolina Margaret "Daisy" Richards, Mrs. Sidney (Emily Hocking) Hart, Mrs. Benjamin (Esther Ada Bloomfield) Reynaldo, Ms. Encarnacion Mellinger, Miss. Madeleine Violet Baclini, Miss. Marie Catherine Kenyon, Mrs. Frederick R (Marion) Toomey, Miss. Ellen Baclini, Miss. Helene Barbara West, Mrs. Edwy Arthur (Ada Mary Worth) Jerwan, Mrs. Amin S (Marie Marthe Thuillard) Strandberg, Miss. Ida Sofia Hirvonen, Miss. Hildur E Turkula, Mrs. (Hedwig) Lefebre, Miss. Jeannie Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby) Eustis, Miss. Elizabeth Mussey Allison, Mrs. Hudson J C (Bessie Waldo Daniels) Canavan, Miss. Mary O\'Sullivan, Miss. Bridget Mary Laitinen, Miss. Kristina Sofia Maioni, Miss. Roberta Quick, Mrs. Frederick Charles (Jane Richards) Rothschild, Mrs. Martin (Elizabeth L. Barrett) Lemore, Mrs. (Amelia Milley) Angle, Mrs. William A (Florence "Mary" Agnes Hughes) Perreault, Miss. Anne Hippach, Mrs. Louis Albert (Ida Sophia Fischer) Ridsdale, Miss. Lucy Quick, Miss. Phyllis May Peter, Mrs. Catherine (Catherine Rizk) Cacic, Miss. Marija Hart, Miss. Eva Miriam LeRoy, Miss. Bertha Frolicher, Miss. Hedwig Margaritha Crosby, Miss. Harriet R Andersson, Miss. Ingeborg Constanzia Andersson, Miss. Sigrid Elisabeth Beane, Mrs. Edward (Ethel Clarke) Ohman, Miss. Velin Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") Taussig, Mrs. Emil (Tillie Mandelbaum) de Messemaeker, Mrs. Guillaume Joseph (Emma) Meanwell, Miss. (Marion Ogden) Palsson, Mrs. Nils (Alma Cornelia Berglund) Appleton, Mrs. Edward Dale (Charlotte Lamson) Kelly, Miss. Mary Garside, Miss. Ethel Silvey, Mrs. William Baird (Alice Munger) Caram, Mrs. Joseph (Maria Elias) Christy, Miss. Julie Rachel Thayer, Mrs. John Borland (Marian Longstreth Morris) Taussig, Miss. Ruth Stephenson, Mrs. Walter Bertram (Martha Eustis) Bourke, Miss. Mary Leitch, Miss. Jessie Wills Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy) Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue) Shutes, Miss. Elizabeth W Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren) Murphy, Miss. Margaret Jane Herman, Miss. Alice Lobb, Mrs. William Arthur (Cordelia K Stanlick) Becker, Miss. Marion Louise Longley, Miss. Gretchen Fiske Skoog, Miss. Mabel Davis, Miss. Mary Panula, Mrs. Juha (Maria Emilia Ojala) Sagesser, Mlle. Emma Skoog, Miss. Margit Elizabeth Baclini, Miss. Eugenie Stanley, Miss. Amy Zillah Elsie Doling, Miss. Elsie O\'Leary, Miss. Hanora "Norah" Hegarty, Miss. Hanora "Nora" Bourke, Mrs. John (Catherine) Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright) Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford) Turja, Miss. Anna Sofia Goodwin, Mrs. Frederick (Augusta Tyler) Peters, Miss. Katie Madill, Miss. Georgette Alexandra Karun, Miss. Manca Mullens, Miss. Katherine "Katie" Astor, Mrs. John Jacob (Madeleine Talmadge Force) Barbara, Miss. Saiide Kelly, Mrs. Florence "Fannie" Cleaver, Miss. Alice Mayne, Mlle. Berthe Antonine ("Mrs de Villiers") Endres, Miss. Caroline Louise Troutt, Miss. Edwina Celia "Winnie" Harper, Miss. Annie Jessie "Nina" Renouf, Mrs. Peter Henry (Lillian Jefferys) Mannion, Miss. Margareth Ilmakangas, Miss. Pieta Sofia Allen, Miss. Elisabeth Walton Ford, Mrs. Edward (Margaret Ann Watson) Ryerson, Miss. Susan Parker "Suzette" Sinkkonen, Miss. Anna Wells, Miss. Joan Herman, Mrs. Samuel (Jane Laver) Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards) Carter, Mrs. William Ernest (Lucile Polk) Hogeboom, Mrs. John C (Anna Andrews) Mangan, Miss. Mary Mack, Mrs. (Mary) Hocking, Mrs. Elizabeth (Eliza Needs) Emanuel, Miss. Virginia Ethel Robert, Mrs. Edward Scott (Elisabeth Walton McMillan) Ayoub, Miss. Banoura Dick, Mrs. Albert Adrian (Vera Gillespie) Sjoblom, Miss. Anna Sofia Sage, Miss. Stella Anna Leader, Dr. Alice (Farnham) Osman, Mrs. Mara Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert) Collyer, Mrs. Harvey (Charlotte Annie Tate) Pettersson, Miss. Ellen Natalia Chambers, Mrs. Norman Campbell (Bertha Griggs) Andersson, Miss. Ebba Iris Alfrida Heininen, Miss. Wendla Maria Hays, Mrs. Charles Melville (Clara Jennings Gregg) Moor, Mrs. (Beila) Stone, Mrs. George Nelson (Martha Evelyn) Yasbeck, Mrs. Antoni (Selini Alexander) Compton, Miss. Sara Rebecca Serepeca, Miss. Augusta Goldenberg, Mrs. Samuel L (Edwiga Grabowska) Boulos, Miss. Nourelain Lines, Miss. Mary Conover Carter, Mrs. Ernest Courtenay (Lilian Hughes) Aks, Mrs. Sam (Leah Rosen) Wick, Mrs. George Dennick (Mary Hitchcock) Baclini, Mrs. Solomon (Latifa Qurban) Swift, Mrs. Frederick Joel (Margaret Welles Barron) Sage, Miss. Dorothy Edith "Dolly" Bystrom, Mrs. (Karolina) Duran y More, Miss. Asuncion Beckwith, Mrs. Richard Leonard (Sallie Monypeny) Abelson, Mrs. Samuel (Hannah Wizosky) Najib, Miss. Adele Kiamie "Jane" Potter, Mrs. Thomas Jr (Lily Alexenia Wilson) Shelley, Mrs. William (Imanita Parrish Hall) Dahlberg, Miss. Gerda Ulrika Rice, Mrs. William (Margaret Norton) Graham, Miss. Margaret Edith Johnston, Miss. Catherine Helen "Carrie" '

In [49]:
tokenized = word_tokenize(text)

In [50]:
count = Counter(tokenized)
count.most_common(100)

[(',', 314),
 ('.', 187),
 ('Miss', 182),
 ('(', 130),
 (')', 130),
 ('Mrs.', 125),
 ('``', 32),
 ("''", 32),
 ('Mary', 20),
 ('Anna', 17),
 ('Elizabeth', 15),
 ('William', 15),
 ('Margaret', 12),
 ('Maria', 11),
 ('John', 8),
 ('Annie', 8),
 ('Alice', 8),
 ('Helen', 7),
 ('Kate', 7),
 ('Catherine', 7),
 ('Marie', 6),
 ('Henry', 6),
 ('Andersson', 6),
 ('Joseph', 6),
 ('Sofia', 6),
 ('Thomas', 6),
 ('Edith', 6),
 ('Florence', 5),
 ('Augusta', 5),
 ('Ellen', 5),
 ('Anne', 5),
 ('Bertha', 5),
 ('Ada', 5),
 ('Louise', 5),
 ('Frederick', 5),
 ('Jane', 5),
 ('Elisabeth', 4),
 ('Emily', 4),
 ('Matilda', 4),
 ('Alexander', 4),
 ('Ford', 4),
 ('Katherine', 4),
 ('James', 4),
 ('Martha', 4),
 ('Brown', 4),
 ('Mrs', 4),
 ('de', 4),
 ('E', 4),
 ('Marion', 4),
 ('Elsie', 4),
 ('Charles', 4),
 ('Baclini', 4),
 ('Edward', 4),
 ('Samuel', 4),
 ('Palsson', 3),
 ('Ann', 3),
 ('Delia', 3),
 ('Lillian', 3),
 ('Amy', 3),
 ('Mabel', 3),
 ('Peter', 3),
 ('A', 3),
 ('Boulos', 3),
 ('Katie', 3),
 ('Skoog', 3),
 ('Sage', 3),
 ('Madeleine', 3),
 ('Lefebre', 3),
 ('Amelia', 3),
 ('Hanora', 3),
 ('Nora', 3),
 ('Walton', 3),
 ('Kelly', 3),
 ('y', 3),
 ('Albert', 3),
 ('Agnes', 3),
 ('Barbara', 3),
 ('Jessie', 3),
 ('Ida', 3),
 ('Carter', 3),
 ('Ethel', 3),
 ('Thayer', 2),
 ('Lily', 2),
 ('May', 2),
 ('Johnson', 2),
 ('Oscar', 2),
 ('W', 2),
 ('Adele', 2),
 ('Sandstrom', 2),
 ('Vander', 2),
 ('Planke', 2),
 ('Asplund', 2),
 ('Emilia', 2),
 ('Nellie', 2),
 ('Eugenie', 2),
 ('Johan', 2),
 ('Johanna', 2),
 ('Robert', 2),
 ('Dorothy', 2),
 ('Laroche', 2)]